.content-box {
    width: 100%;
    padding: 20px 1% 20px 1%;
}

.react-calendar {
    width: 100% !important;
}


register-form {
    width: 80%;
    margin: 0 auto;

}

.label-register,
.input-register {
    display: inline-block;
}

.label-register {
    width: 30%;
    text-align: right;
}

.label-register+.input-register {
    width: 30%;
    margin: 0 30% 0 4%;
}

.input-register+.input-register {
    float: right;
}

.input-margin {
    margin-top: 10px !important;
}

.form-size {
    margin: 1% 20%;
    padding: 2% 4% 2% 4%;
}

.submit-register {

    margin: 10px auto 0 auto;
    display:block;
    padding: 10px 24px;
    font-size: 16px;
    background-color: #81ab27;
    border: #66871f;
    border-radius: 5px;
    transition-duration: 0.4s;

}


.submit-register:hover {
    background-color: #4CAF50; /* Green */

}

#strength {
    position:absolute;
    right:38%;

}

#strength2 {
    position:absolute;
    right:43%;
    color:black;
}

.label-profilInfo,
.input-profilInfo {
    display: inline-block;
}

.label-profilInfo {
    width: 30%;
    text-align: right;
}

.label-profilInfo+.input-profilInfo {
    width: 30%;
    margin: 0 30% 0 4%;
}




.requestsTable {
    margin: 0 auto;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
}

.requestsTable td, .requestsTable th {
    /*border: 1px solid #ddd;*/
    padding: 8px;
}



.requestsTable tr:nth-child(even){background-color: #f59b42;}

.requestsTable tr:hover {background-color: #ffaa57;}

.requestsTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #fc8d21;
    color: black;
}

.appointmentsTable {
    width:80%;
}

.accept {
    display: block;
    margin: auto;
}

.login-container{
    background: #f8f8f8;
    margin: 5% auto;
    padding: 20px;
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.login-container > h2{
    display: block;
    text-align: center;
    font-family: Arial;
    font-weight: bold;
}
.login-container > img{
    float: left;
    width: 200px;
    height: 200px;
    display:block;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#mojaTabela{
    width: 700px;
    margin: 50px auto;
}
/*-----------------------Clinic Profile-----------------------------------------*/
.hospitalProfile-container h1{
    text-align:center;
    margin:20px;
}

.hospitalProfile-container img{
    margin: auto;
    display: block;
    width: 300px;
}

.hospitalProfile-container
{
    background: #f8f8f8;
    margin: 5% auto;
    padding: 20px;
    width: 55%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hospitalProfile-container li{
    background: #e5e5e5;
    margin: 5% auto;
    padding: 20px;
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info-row {
    display: flex;
    width: max-content;
    white-space: nowrap;
}

.info-row p{
  margin-left: 20px;
    font-size: 20px;
}

.link-appointments{
   text-align: center;
}

.link-appointments a{
    display: inline-block;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-decoration: none;
    color: #000;
}
/*-----------------------Clinic reports-----------------------------------------*/
.hospitalReports-container h1{
    text-align:center;
    margin:20px;
}


.hospitalReports-container
{
    background: #f8f8f8;
    margin: 5% auto;
    padding: 20px;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hospitalReports-container li{
    background: #e5e5e5;
    margin: 5% auto;
    padding: 20px;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.hospitalReports-container img{
    margin: auto;
    display: block;
    width: 300px;
}

.rating-row
{
    display: flex;
    width: max-content;
    white-space: nowrap;
}

.rating-row p{
    margin-left: 20px;
    font-size: 20px;
}

/*------------------------------------------------------*/

.income-container{
    background: #f8f8f8;
    margin: 5% auto;
    padding: 20px;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.income-container .income-dataPickers{
    display: block;
    text-align: center;

}

.income-container .income-dataPickers .MuiTextField-root{
    margin: 10px;

}

.income-container .MuiFormControl-root .MuiInputLabel-formControl{
    position: initial;
    transform-origin: initial;
    margin-top: 10px;
}

.income-field{
    display: block;
    text-align: center;
    margin: 10px;
}
.income-field .MuiInputBase-input.Mui-disabled{
    text-align: center;
}
.income-container .income-tF-button button{
    display: block;
    margin: auto;
}



.link-appointments a:link{
    text-decoration: none;

}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #353A40;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #353A40;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f59b42;
}



.right-part {
    margin-left:40px
}


.hospital-info {
    margin:40px;
    justify-content: center;
    background-color: #353A40;
    padding:20px;


    border-radius: 8px;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;

}

.label-hospital {
    color: wheat;
    margin:10px
}

.centered {
    margin: 0 auto;
    justify-content: center;
    margin-bottom:40px;
}

.registerInfoCard {

    width: 60%;
    margin: 0 auto;
    padding:30px;
    margin-top:50px;
    color: wheat;
    background-color: #353A40;
    border-radius: 20px;
    justify-content: center;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.radios {
    margin:30px;
}
.centered2 {
    margin: 0 auto;
    justify-content: center;
    text-align: center;
}

#nurse {
    margin-left:20px;
}

.updateInfoCard {
    width: 60%;
    height: 60%;
    margin: 0 auto;
    padding:30px;
    margin-top:50px;

    color: wheat;
    background-color: #353A40;
    border-radius: 20px;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    margin-top:50px;
}


.styled-table-2 {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    margin: 0 auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table-2 th,
.styled-table-2 td {
    padding: 12px 15px;
}
.styled-table-2 tbody tr {
    border-bottom: 1px solid #353A40;
}

.styled-table-2 tbody tr:nth-of-type(even) {
    background-color: #f59b42;
}

.input-margin {
    margin: 2% !important;
}

.form-size {
    background: cornsilk;
    opacity: 0.97;
    margin: 0.5% 30%;
    padding: 2% 8% 2% 8%;
    border-radius: 25px;
    border: 2px solid #73AD21;
}

.rating-div {
    margin: 0 auto;
    width: 70%;
}

.text-align {
    text-align: center;
    margin: 30px;
    margin-top:50px;
}

.flex-container {
    display: flex;
    margin: 0 auto;
}

.flex-child {
    flex: 1;
    margin:15px
}

.centered {
    margin: 0 auto;
}

nav a {
    text-decoration: none;
    color: white;
    outline: none;
}

nav a:hover{
    text-decoration: none;
    color: navajowhite;
}

.before {
    text-align: center;
    color: wheat;
    background-color: #353A40;
    margin: 30px;
    padding:30px;
    margin-bottom: 0;
    padding-bottom: 10px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.hospitalLocation {

    color: wheat;
    background-color: #353A40;
    margin: 30px;
    padding:30px;
    display: flex;
    margin-top:0;
    padding-top:10px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;

}

.healthCard{
    display: block;

}

.healthCard #illnessTable{
    width: 700px;
    margin-left: 10%;
    margin-top: 30px;
    display: inline-block;

}

.healthCard #drugsTable{
    width: 700px;
    margin-left: 5%;
    margin-top: 30px;
    display: inline-block;


}

.healthCard h1{
    text-align: center;
}
